{%extends 'base/base.html'%}
{% block start %}
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  
  <title>Document</title>
</head>
 <div class="bodytext"><h1 >Helping you find Your Taste</h1>
<p class="bodytextdesp"><br>We Help you in finding the best possible place <br> that suits your taste.</p>
 

</div>

 <a href="{% url 'popular'%}"><button class="lets-go-btn1" >Popular in Chitwan</button></a>

 <a href="{% url 'recommendation'%}"><button class="lets-go-btn">Recommend Me</button></a>
 <image class="svgimg" src="/media/images/chicken.jpg"  >
</div>

<div class= "account">
  <p class="accounttext">
    🌟 Unlock a World of Opportunities! Join Us Today! 🌟<br><br>

Are you ready to discover Your taste, Share Your Experience, and discover a new community? <br><b>Look no further!</b> "Dine Delight" is thrilled to invite you to be a part of something extraordinary.
  </p>
 
    <a href="{%url 'register'%}"><button class="register">Register Now</button></a>
  
</div>

<div class="aboutus" id='about'>
  <h1> About Us </h1>
  <p class="accounttextt">
    In the rapidly evolving dining scene, finding the ideal culinary experience becomes increasingly difficult. Introducing "Dine-Delight" - a user-centric platform designed to make discovering tailored meal options easier. This revolutionary approach allows consumers to easily find tailored restaurant recommendations based on their tastes, location, and budget. 
"Dine-Delight" uses a collaborative filtering system to study user actions, reducing decision-making dilemmas. Users can create profiles and share out their experience in form of a post of their favorite restaurants. With an emphasis on travel and time restrictions, the website combines real-time updates, user ratings, and seamless mapping services to create a world of culinary choices and a wonderful dining experience.
  </p></div>
  
  <section aria-label="Newest Photos">
    <div class="carousel" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
      <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <img src="/media/images/1.jpg" alt="Nature Image #1">
        </li>
        <li class="slide">
          <img src="/media/images/2.jpg" alt="Nature Image #2">
        </li>
        <li class="slide">
          <img src="/media/images/3.jpg" alt="Nature Image #3">
        </li>
      </ul>
    </div>
  </section>


  <div class="contact-section" id="contact">
    <h2>Contact Us</h2>
    <form action="#" method="post">
      {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="footer">
  <div >
      &copy; 2024 Ishan Bhusal. All rights reserved.
  </div>
</div>



 {% endblock %}
    


